[Unit]
Description=My Go Application
After=network.target

[Service]
ExecStart=/root/lab/sv-bad-gateway
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
